[client]
port = {{ Port }}

[mysql]
port = {{ Port }}
no_auto_rehash
default_character_set  = utf8mb4
prompt  = '\u@\h [\d]> '
{% if Simple %}
socket     = {{ dataDirStruct.simple.baseDir }}/run/mysql.sock
{% endif %}

[mysqld]
port       = {{ Port }}
user       = mysql
{# server_id  = {{ ansible_all_ipv4_addresses[0].split('.')[-1]｜inventory_hostname.split('.')[-1] }}{{ Port }} #}
server_id  = {{ inventory_hostname.split('.')[-1] }}{{ Port }}
basedir    = /usr/local/mysql

{% if Simple %}
datadir    = {{ dataDirStruct.simple.baseDir }}/data
tmpdir     = /tmp
socket     = {{ dataDirStruct.simple.baseDir }}/run/mysql.sock
pid_file   = {{ dataDirStruct.simple.baseDir }}/run/mysql.pid
{% else %}
datadir    = {{ dataDirStruct.custom.baseDir }}/data
tmpdir     = {{ dataDirStruct.custom.baseDir }}/tmp
socket     = {{ dataDirStruct.custom.baseDir }}/run/{{ InstanceName }}.sock
pid_file   = {{ dataDirStruct.custom.baseDir }}/run/{{ InstanceName }}.pid
{%- endif %}

character_set_server  = utf8mb4
skip_external_locking = 1
skip_name_resolve     = 1
skip_networking       = 0
symbolic_links        = 0
skip_slave_start      = 1
secure_file_priv      = /tmp

show_compatibility_56 = on
eq_range_index_dive_limit = 100
group_concat_max_len = 10240

#innodb_flush_neighbors    = 0
innodb_online_alter_log_max_size = 512M
innodb_stats_persistent_sample_pages = 64

#query_response_time_stats = on
slave_rows_search_algorithms = 'INDEX_SCAN,HASH_SCAN'
optimizer_switch='mrr=on,mrr_cost_based=off,batched_key_access=on'

# perforamnce_schema settings
#performance-schema-instrument = 'memory/%=COUNTED'
performance_schema_instrument = '%=on'
performance_schema_digests_size = 40000
performance_schema_max_table_instances = 40000
performance_schema_max_sql_text_length = 4096
performance_schema_max_digest_length = 4096

back_log = 500
wait_timeout=500
interactive_timeout = 500

max_connections = 2048
max_user_connections = 0
max_connect_errors = 100000
max_allowed_packet = 256M

lower_case_table_names = 1
explicit_defaults_for_timestamp = 1
#sql_mode="STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION,ERROR_FOR_DIVISION_BY_ZERO"
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"


# query_cache conf #
query_cache_type=0
query_cache_size=0

# error_log conf #
{% if Simple %}
log_error = {{ dataDirStruct.simple.baseDir }}/data/error.log
{% else %}
log_error = {{ dataDirStruct.custom.baseDir }}/log/error_log/error.log
{% endif %}
log_error_verbosity = 3


# binlog conf #

{% if Simple %}
log_bin           = {{ dataDirStruct.simple.baseDir }}/data/mysql_bin
log_bin_index     = {{ dataDirStruct.simple.baseDir }}/data/mysql_bin.index
{% else %}
log_bin           = {{ dataDirStruct.custom.baseDir }}/log/binary_log/{{ InstanceName }}_bin
log_bin_index     = {{ dataDirStruct.custom.baseDir }}/log/binary_log/{{ InstanceName }}_bin.index
{%-endif %}

binlog_format     = ROW
sync_binlog       = 1
expire_logs_days  = 7
max_binlog_size   = 256M
binlog_cache_size = 512K
binlog_stmt_cache_size = 32K
binlog_rows_query_log_events = 1
binlog_group_commit_sync_delay = 5000
binlog_group_commit_sync_no_delay_count = 100
log_bin_trust_function_creators = 1

# slow_log conf #
slow_query_log = 1
long_query_time = 1
#log_queries_not_using_indexes
#min_examined_row_limit = 50000
{% if Simple %}
slow_query_log_file =  {{ dataDirStruct.simple.baseDir }}/data/slow.log
{% else %}
slow_query_log_file = {{ dataDirStruct.custom.baseDir }}/log/slow_log/slow.log
{% endif %}

{% if GetFlag == "P" %}
log_slow_verbosity = full
{% endif %}
log_timestamps = system

# general_log conf #
general_log = 0
{% if Simple %}
general_log_file = {{ dataDirStruct.simple.baseDir }}/data/general.log
{% else %}
general_log_file = {{ dataDirStruct.custom.baseDir }}/log/general_log/general.log
{% endif %}

# relay_log conf  #
relay_log_purge = 0
log_slave_updates = 1
relay_log_recovery = 1
relay_log_purge    = 1
{% if Simple %}
relay_log = {{ dataDirStruct.simple.baseDir }}/data/relay_bin
relay_log_index = {{ dataDirStruct.simple.baseDir }}/data/relay_bin.index
{% else %}
relay_log = {{ dataDirStruct.custom.baseDir }}/log/relay_log/{{ InstanceName }}_relay_bin
relay_log_index = {{ dataDirStruct.custom.baseDir }}/log/relay_log/{{ InstanceName }}_relay_bin.index
{% endif %}

relay_log_info_repository = TABLE
master_info_repository = TABLE
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 8
slave_preserve_commit_order = 1

# gtid #
gtid_mode = on
enforce_gtid_consistency = 1
binlog_gtid_simple_recovery = 1
{% if Simple %}
read_only = 0
{% else %}
read_only = 1
{% endif %}

# semi sync replication #
loose-rpl_semi_sync_master_enabled = 1
loose-rpl_semi_sync_master_timeout = 3000
loose-rpl_semi_sync_slave_enabled = 1
loose-rpl_semi_sync_master_wait_point = AFTER_SYNC

#审计日志配置[默认关闭]
{% if Simple %}
#audit_log_file = {{ dataDirStruct.simple.baseDir }}/data/audit.log
{% else %}
#audit_log_file = {{ dataDirStruct.custom.baseDir }}/log/audit_log/audit.log
{% endif %}

#audit_log_format = NEW
#audit_log_policy = NONE

transaction_isolation = REPEATABLE-READ

{# innodb 模版导入 #}
{% include 'innodb_config.jinjia2' %}

key_buffer_size = 8M
table_open_cache = 4096
table_definition_cache = 4096
max_tmp_tables = 256
tmp_table_size = 32M
max_heap_table_size = 32M
table_open_cache_instances = 8
open_files_limit = 204800

join_buffer_size = 1M
sort_buffer_size = 2M
read_buffer_size = 64K
read_rnd_buffer_size = 2M
bulk_insert_buffer_size = 128K



{% if GetFlag == "P" %}
#thread pool #
#thread_handling = pool_of_threads
#thread_pool_oversubscribe = 15
#配置extra port 防止too many connection 问题
extra_port = 3336
extra_max_connections = 10
#percona server user stat 设置
thread_statistics = 1
userstat = 1
{% endif %}

[mysqld_safe]
#malloc_lib= tcmalloc
{% if Simple %}
log_error = {{ dataDirStruct.simple.baseDir }}/data/error.log
pid_file  = {{ dataDirStruct.simple.baseDir }}/run/mysql.pid
{% else %}
log_error = {{ dataDirStruct.custom.baseDir }}/log/error_log/error.log
pid_file  = {{ dataDirStruct.custom.baseDir }}/run/{{ InstanceName }}.pid
{% endif %}


[mysqldump]
max_allowed_packet = 64M
