[Unit]
Description=MySQL Server
After=syslog.target
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
{#
ExecStartPre=/bin/mkdir -p /var/run/mysqld
ExecStartPre=/bin/chown mysql:mysql -R /var/run/mysqld
#}

ExecStart=
{%-if Simple-%}
/usr/local/mysql/bin/mysqld --defaults-file=/etc/my.cnf
{% else %}
/usr/local/mysql/bin/mysqld --defaults-file={{ dataDirStruct.custom.baseDir }}/conf/my.cnf
{% endif %}

{#
/usr/local/mysql/bin/mysqld_safe --basedir=/usr
--datadir=/var/lib/mysql --plugin-dir=/usr/lib/mysql/plugin
--log-error=/var/log/mysql/error.log --pid-file=/var/run/mysqld/mysqld.pid
--socket=/var/run/mysqld/mysqld.sock --port=3306
#}
TimeoutSec=300
PrivateTmp=true
User=mysql
Group=mysql
WorkingDirectory=/usr

[Install]
WantedBy=multi-user.target